[submodule "CyPyHous3"]
    path = CyPyHous3
    url = https://github.com/cyphyhouse/CyPyHous3
    branch = master
    update = merge
[submodule "KoordLanguage"]
    path = KoordLanguage
    url = https://github.com/cyphyhouse/KoordLanguage
    branch = master
    update = merge
[submodule "Cymulator"]
    path = Cymulator
    url = https://github.com/cyphyhouse/Cymulator.git
    branch = master
    update = merge
[submodule "CyPhyHouseExperiments"]
	path = CyPhyHouseExperiments
	url = https://github.com/cyphyhouse/CyPhyHouseExperiments.git
    branch = master
    update = merge
