[submodule "CyPyHous3"]
    path = CyPyHous3
    url = https://github.com/cyphyhouse/CyPyHous3
    branch = master
    update = merge
[submodule "KoordLanguage"]
    path = KoordLanguage
    url = https://github.com/cyphyhouse/KoordLanguage
    branch = master
    update = merge
[submodule "CyPhyHouse-Dev"]
    path = CyPhyHouse-Dev
    url = https://github.com/cyphyhouse/CyPhyHouse-Dev.git
    branch = master
    update = merge
[submodule "Cymulator"]
    path = Cymulator
    url = https://github.com/cyphyhouse/Cymulator.git
    branch = master
    update = merge
